In [15]:
import pandas as pd
import matplotlib as plt
import numpy as np 
import seaborn as sns

In [16]:
data = pd.read_csv('SBAnational.csv')

/tmp/ipykernel_4055/1533426435.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('SBAnational.csv')

In [18]:
data.head(5)
data.tail(5)

# pandas affiche un dataframe tronqué au milieu, je change les options avec set_options pour avoir toutes les colonnes
pd.set_option('display.max_columns', None)

data.head(5)
data.tail(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,60,6,1.0,0,0,1,0,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,60,6,1.0,0,0,1,0,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,108,26,1.0,0,0,1,0,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,60,6,1.0,0,0,1,0,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,48,1,2.0,0,0,1,0,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [19]:
data.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

## Analyse univariée

In [20]:
data.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,8.991640e+05,899164.000000,899164.000000,899164.000000,899164.000000,899028.000000,899164.000000,899164.000000,899164.000000,899164.000000
mean,4.772612e+09,53804.391241,398660.950146,110.773078,11.411353,1.280404,8.430376,10.797257,2753.725933,0.757748
std,2.538175e+09,31184.159152,263318.312760,78.857305,74.108196,0.451750,236.688165,237.120600,12758.019136,0.646436
min,1.000014e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.589758e+09,27587.000000,235210.000000,60.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,4.361439e+09,55410.000000,445310.000000,84.000000,4.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,6.904627e+09,83704.000000,561730.000000,120.000000,10.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,928120.000000,569.000000,9999.000000,2.000000,8800.000000,9500.000000,99999.000000,2.000000

In [21]:
data.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [22]:
doublons = data[data.duplicated(keep=False)]

print (doublons)

Empty DataFrame
Columns: [LoanNr_ChkDgt, Name, City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, RetainedJob, FranchiseCode, UrbanRural, RevLineCr, LowDoc, ChgOffDate, DisbursementDate, DisbursementGross, BalanceGross, MIS_Status, ChgOffPrinGr, GrAppv, SBA_Appv]
Index: []

In [23]:
#il y a 1997 valeurs manquantes pour la target, on supprime ces lignes

data.dropna(subset=['MIS_Status'], inplace=True)

In [24]:
print(data.MIS_Status.isnull().sum())

print(data['MIS_Status'].unique())

0
['P I F' 'CHGOFF']

In [25]:
import sweetviz as sv

# sweetviz a recommandé de changer 'approvalFY' en numerique (pourquoi i don't know)
data['ApprovalFY'] = pd.to_numeric(data['ApprovalFY'], errors='coerce')

#Sweetviz ne reconnait pas la variable cible comme étant binaire catégorielle: on mappe.
data['MIS_Status_Numeric'] = data['MIS_Status'].map({'P I F': 0, 'CHGOFF': 1})


#les print sont des verifications 
print(data['MIS_Status_Numeric'].dtype)

print(data['MIS_Status_Numeric'])

print(data['MIS_Status_Numeric'].isnull().sum())

print(data['MIS_Status_Numeric'].unique())


# on utilise maintenant MIS_Status_Numeric pour creer un rapport
sweet_report = sv.analyze(data, 'MIS_Status_Numeric')
sweet_report.show_html()

int64
0         0
1         0
2         0
3         0
4         0
         ..
899159    0
899160    0
899161    0
899162    1
899163    0
Name: MIS_Status_Numeric, Length: 897167, dtype: int64
0
[0 1]

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Le rapport sweetviz présente les corrélations entre la target et plusieurs variables:
    *

In [26]:
#table de contingence pour 2 variables qualitative: target et NAICS

data_crosstab = pd.crosstab(data['NAICS'], 
							data['MIS_Status'], 
							margins = False) 
print(data_crosstab)

MIS_Status  CHGOFF   P I F
NAICS
0            16799  184868
111110           1      31
111120           0       3
111130           0       1
111140           4      90
...            ...     ...
926140           1       5
926150           0      10
927110           1       0
928110           0       4
928120           5      27

[1312 rows x 2 columns]

In [ ]:
print(data['NAICS'].nunique())

1301
Nombre d'éléments uniques dans la colonne 'NAICS' : 1301

In [27]:
import pandas as pd

# Supposons que votre DataFrame s'appelle data
# Assurez-vous que 'MIS_Status' contient uniquement les modalités 'Fully Paid' et 'Charged Off'

naics_totals_by_status = data.groupby(['MIS_Status', 'NAICS']).size().reset_index(name='Total')
print(naics_totals_by_status)

     MIS_Status   NAICS  Total
0        CHGOFF       0  16799
1        CHGOFF  111110      1
2        CHGOFF  111140      4
3        CHGOFF  111150      3
4        CHGOFF  111211      1
...         ...     ...    ...
2509      P I F  926130      3
2510      P I F  926140      5
2511      P I F  926150     10
2512      P I F  928110      4
2513      P I F  928120     27

[2514 rows x 3 columns]

### Modelisation

In [159]:

#je crée un nouveau dataframe qui ne contient pas les colonnes 'dataleaking' ni les colonnes inutiles du type 

data = pd.read_csv('SBAnational.csv')
data.columns

/tmp/ipykernel_4055/3166364538.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('SBAnational.csv')

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [160]:
data_lite = data.drop(['BalanceGross', 'NoEmp', 'LoanNr_ChkDgt', 'Name', 'Zip', 'City', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross', 'BankState', 'Bank', 'State', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv', 'CreateJob', 'RetainedJob'], axis=1)
data_lite

,NAICS,ApprovalDate,ApprovalFY,Term,NewExist,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status
0,451120,28-Feb-97,1997,84,2.0,1,0,N,Y,P I F
1,722410,28-Feb-97,1997,60,2.0,1,0,N,Y,P I F
2,621210,28-Feb-97,1997,180,1.0,1,0,N,N,P I F
3,0,28-Feb-97,1997,60,1.0,1,0,N,Y,P I F
4,0,28-Feb-97,1997,240,1.0,1,0,N,N,P I F
...,...,...,...,...,...,...,...,...,...,...
899159,451120,27-Feb-97,1997,60,1.0,1,0,0,N,P I F
899160,451130,27-Feb-97,1997,60,1.0,1,0,Y,N,P I F
899161,332321,27-Feb-97,1997,108,1.0,1,0,N,N,P I F
899162,0,27-Feb-97,1997,60,1.0,1,0,N,Y,CHGOFF
899163,0,27-Feb-97,1997,48,2.0,1,0,N,N,P I F

In [182]:
print(data_lite.isnull().sum())

data_lite.dtypes

# data_lite['RevLineCr'].unique()
# data_lite['Term'].unique()
# data_lite['NewExist'].unique()
# data_lite['FranchiseCode'].unique()
# data_lite['UrbanRural'].unique()
# data_lite['RevLineCr'].unique()
# data_lite['LowDoc'].unique()

NAICS                     0
ApprovalFY                0
Term                      0
NewExist                136
FranchiseCode             0
UrbanRural                0
RevLineCr            277479
LowDoc                 6007
MIS_Status             1997
ApprovalDate_Year         0
dtype: int64

array(['Y', 'N', nan], dtype=object)

In [165]:
data_lite.NAICS.nunique()
data_lite.Term.nunique()
data_lite.ApprovalDate.nunique()

data_lite.head(10)

,NAICS,ApprovalDate,ApprovalFY,Term,NewExist,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status
0,451120,28-Feb-97,1997,84,2.0,1,0,N,Y,P I F
1,722410,28-Feb-97,1997,60,2.0,1,0,N,Y,P I F
2,621210,28-Feb-97,1997,180,1.0,1,0,N,N,P I F
3,0,28-Feb-97,1997,60,1.0,1,0,N,Y,P I F
4,0,28-Feb-97,1997,240,1.0,1,0,N,N,P I F
5,332721,28-Feb-97,1997,120,1.0,1,0,N,N,P I F
6,0,2-Jun-80,1980,45,2.0,0,0,N,N,CHGOFF
7,811118,28-Feb-97,1997,84,2.0,1,0,N,Y,P I F
8,721310,28-Feb-97,1997,297,2.0,1,0,N,N,P I F
9,0,28-Feb-97,1997,84,2.0,1,0,N,Y,P I F

In [166]:
#pour la colonne ApprovalDate, on va réduire les modalités en ne considérant que l'année
# d'abord transformer la date en Y-M-D

data_lite['ApprovalDate'] = pd.to_datetime(data_lite['ApprovalDate'], format='%d-%b-%y', errors='coerce')
data_lite['ApprovalDate_Year'] = data_lite['ApprovalDate'].dt.year
data_lite = data_lite.drop('ApprovalDate', axis=1)

#On verifie que les colonnes 'ApprovalDateYear' et 'ApprovalFY' sont identiques
data_lite['ApprovalDate_Year'].equals(data_lite['ApprovalFY'])

False

On constate des valeurs manquantes dans les variables 'ApprovalFY', 'NewExist', 'RevLineCr', 'LowDoc'. 

Les valeurs uniques des variables catégorielles sont trop larges, un encodage du type one-hot risque de faire exploser la dimensionnalité du dataset.

#### Premier modéle: RandomForest

In [167]:
# Modéle
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz

In [168]:
#compter toutes les lignes avec une valeur manquante au moins

nombre_lignes_manquantes = data_lite[data_lite.isna().any(axis=1)].shape[0]

# Afficher le résultat
print(f"Nombre de lignes avec au moins une valeur manquante : {nombre_lignes_manquantes}")

Nombre de lignes avec au moins une valeur manquante : 9226

In [169]:
#target
data_lite['MIS_Status'] = data_lite['MIS_Status'].map({'P I F': 0, 'CHGOFF': 1})
data_lite.MIS_Status.dtype

data_lite.dtypes

NAICS                  int64
ApprovalFY            object
Term                   int64
NewExist             float64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
MIS_Status           float64
ApprovalDate_Year      int32
dtype: object

In [170]:
#pour la colonne ApprovalDate, on va réduire les modalités en ne considérant que l'année
# d'abord transformer la date en Y-M-D

data_lite['ApprovalDate'] = pd.to_datetime(data_lite['ApprovalDate'], format='%d-%b-%y', errors='coerce')
data_lite['ApprovalDate_Year'] = data_lite['ApprovalDate'].dt.year
data_lite = data_lite.drop('ApprovalDate', axis=1)

#On verifie que les colonnes 'ApprovalDateYear' et 'ApprovalFY' sont identiques
data_lite['ApprovalDate_Year'].equals(data_lite['ApprovalFY'])

KeyError: 'ApprovalDate'

In [171]:
display(data_lite)

data_lite.dtypes

,NAICS,ApprovalFY,Term,NewExist,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status,ApprovalDate_Year
0,451120,1997,84,2.0,1,0,N,Y,0.0,1997
1,722410,1997,60,2.0,1,0,N,Y,0.0,1997
2,621210,1997,180,1.0,1,0,N,N,0.0,1997
3,0,1997,60,1.0,1,0,N,Y,0.0,1997
4,0,1997,240,1.0,1,0,N,N,0.0,1997
...,...,...,...,...,...,...,...,...,...,...
899159,451120,1997,60,1.0,1,0,0,N,0.0,1997
899160,451130,1997,60,1.0,1,0,Y,N,0.0,1997
899161,332321,1997,108,1.0,1,0,N,N,0.0,1997
899162,0,1997,60,1.0,1,0,N,Y,1.0,1997
899163,0,1997,48,2.0,1,0,N,N,0.0,1997

NAICS                  int64
ApprovalFY            object
Term                   int64
NewExist             float64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
MIS_Status           float64
ApprovalDate_Year      int32
dtype: object

In [153]:
data_lite.LowDoc.unique()

array(['Y', 'N', 'C', '1', nan, 'S', 'R', 'A', '0'], dtype=object)

In [172]:
row_index = data_lite[data_lite['ApprovalFY'] == '1976A'].index
print(data_lite.loc[row_index])

#remplace 1976A par 1976
data_lite['ApprovalFY'] = data_lite['ApprovalFY'].replace('1976A', '1976')

#on verifie que ApprovaFY et ApprovalDate_Year sont identiques
data_lite['ApprovalDate_Year'].equals(data_lite['ApprovalFY'])

row_index = data_lite[data_lite['ApprovalFY'] == '1976A'].index
print(data_lite.loc[row_index])

        NAICS ApprovalFY  Term  NewExist  FranchiseCode  UrbanRural RevLineCr  \
699732      0      1976A   120       1.0              0           0         N
704030      0      1976A   120       1.0              0           0         N
705375      0      1976A   120       2.0              0           0         N
710381      0      1976A    60       2.0              0           0         N
713245      0      1976A    84       1.0              0           0         N
748029      0      1976A   102       1.0              0           0         N
751519      0      1976A   120       2.0              0           0         N
769515      0      1976A   240       2.0              0           0         N
775002      0      1976A    84       1.0              0           0         N
775430      0      1976A   120       1.0              0           0         N
775978      0      1976A   240       1.0              0           0         N
776367      0      1976A    60       2.0              0           0         N
780120      0      1976A   174       1.0              0           0         N
781090      0      1976A   120       1.0              0           0         N
784351      0      1976A   180       1.0              0           0         N
788539      0      1976A   120       1.0              0           0         N
788661      0      1976A    60       1.0              0           0         N
793733      0      1976A   241       2.0              0           0         N

       LowDoc  MIS_Status  ApprovalDate_Year
699732      N         1.0               1976
704030      N         1.0               1976
705375      N         1.0               1976
710381      N         1.0               1976
713245      N         1.0               1976
748029      N         1.0               1976
751519      N         1.0               1976
769515      N         1.0               1976
775002      N         1.0               1976
775430      N         0.0               1976
775978      N         1.0               1976
776367      N         1.0               1976
780120      N         1.0               1976
781090      N         1.0               1976
784351      N         1.0               1976
788539      N         1.0               1976
788661      N         0.0               1976
793733      N         1.0               1976
Empty DataFrame
Columns: [NAICS, ApprovalFY, Term, NewExist, FranchiseCode, UrbanRural, RevLineCr, LowDoc, MIS_Status, ApprovalDate_Year]
Index: []

In [173]:
#nettoyer le dataset

#colonne RevLineCr contient des valeurs 'y', 'n' et des valeurs bizarres
#47% des valeurs de cette variables sont egales à 'n', on pourrait remplacer les valeurs bizarres par un 'n'

valeurs_odd = [ 'NaN', 'nan','0', 'T','`', ',', '1', 'C', '3', '2', 'R', '7','A', '5', '.', '4', '-', 'Q']
data_lite['RevLineCr'] = data_lite['RevLineCr'].replace(valeurs_odd, np.nan)
data_lite['RevLineCr'].unique()

array(['N', nan, 'Y'], dtype=object)

In [174]:
import numpy as np

# Liste des valeurs indésirables
valeurs_bizarres = ['C', '1', 'nan', 'S', 'R', 'A', '0']

# Remplacer les valeurs indésirables par np.nan et sauvegarder les modifications
data_lite['LowDoc'] = data_lite['LowDoc'].replace(valeurs_bizarres, np.nan)

# Afficher les valeurs uniques après le remplacement
valeurs_uniques = data_lite['LowDoc'].unique()
print(valeurs_uniques)

data_lite['LowDoc']

['Y' 'N' nan]

0         Y
1         Y
2         N
3         Y
4         N
         ..
899159    N
899160    N
899161    N
899162    Y
899163    N
Name: LowDoc, Length: 899164, dtype: object

In [ ]:
#decompte des valeurs nan de la feature 'RevLineCr'ArithmeticError
revline_null = data_lite['RevLineCr'].isna().sum()

revline_null  #=> 277479 valeurs nulles !

277479

In [176]:
#decompte des valeurs nan de LowDoc
lowdoc_null = data_lite['LowDoc'].isna().sum()
lowdoc_null

6007

In [177]:
#separer dataset en features et target

X = data_lite.drop('MIS_Status', axis=1)

y = data_lite['MIS_Status']

In [180]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.

Index(['NAICS', 'ApprovalFY', 'Term', 'NewExist', 'FranchiseCode',
       'UrbanRural', 'RevLineCr', 'LowDoc', 'ApprovalDate_Year'],
      dtype='object')

In [179]:
clf = RandomForestClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

ValueError: could not convert string to float: 'N'

In [ ]:
#supprime les lignes qui ne sont ni 'y' ni 'n' dans 'RevLineCr'ArithmeticError
valeurs_valides = ['y', 'n']

# Filtrer le DataFrame pour ne conserver que les lignes avec des valeurs 'y' ou 'n'
data_lite = data_lite[data_lite['RevLineCr'].isin(valeurs_valides)]
data_lite

Empty DataFrame
Columns: [NAICS, ApprovalFY, Term, NewExist, FranchiseCode, UrbanRural, RevLineCr, LowDoc, BalanceGross, MIS_Status, ApprovalDate_Year]
Index: []