In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np 
import seaborn as sns

/home/utilisateur/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/utilisateur/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (
/tmp/ipykernel_19427/1872013330.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv('SBAnational.csv')

/tmp/ipykernel_19427/1533426435.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('SBAnational.csv')

In [3]:
data.head(5)
data.tail(5)

# pandas affiche un dataframe tronqué au milieu, je change les options avec set_options pour avoir toutes les colonnes
pd.set_option('display.max_columns', None)

data.head(5)
data.tail(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
899159,9995573004,FABRIC FARMS,UPPER ARLINGTON,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451120,27-Feb-97,1997,60,6,1.0,0,0,1,0,0,N,NaN,30-Sep-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"
899160,9995603000,FABRIC FARMS,COLUMBUS,OH,43221,JPMORGAN CHASE BANK NATL ASSOC,IL,451130,27-Feb-97,1997,60,6,1.0,0,0,1,0,Y,N,NaN,31-Oct-97,"$85,000.00",$0.00,P I F,$0.00,"$85,000.00","$42,500.00"
899161,9995613003,"RADCO MANUFACTURING CO.,INC.",SANTA MARIA,CA,93455,"RABOBANK, NATIONAL ASSOCIATION",CA,332321,27-Feb-97,1997,108,26,1.0,0,0,1,0,N,N,NaN,30-Sep-97,"$300,000.00",$0.00,P I F,$0.00,"$300,000.00","$225,000.00"
899162,9995973006,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,27-Feb-97,1997,60,6,1.0,0,0,1,0,N,Y,8-Mar-00,31-Mar-97,"$75,000.00",$0.00,CHGOFF,"$46,383.00","$75,000.00","$60,000.00"
899163,9996003010,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,27-Feb-97,1997,48,1,2.0,0,0,1,0,N,N,NaN,31-May-97,"$30,000.00",$0.00,P I F,$0.00,"$30,000.00","$24,000.00"

In [4]:
data.dtypes

LoanNr_ChkDgt          int64
Name                  object
City                  object
State                 object
Zip                    int64
Bank                  object
BankState             object
NAICS                  int64
ApprovalDate          object
ApprovalFY            object
Term                   int64
NoEmp                  int64
NewExist             float64
CreateJob              int64
RetainedJob            int64
FranchiseCode          int64
UrbanRural             int64
RevLineCr             object
LowDoc                object
ChgOffDate            object
DisbursementDate      object
DisbursementGross     object
BalanceGross          object
MIS_Status            object
ChgOffPrinGr          object
GrAppv                object
SBA_Appv              object
dtype: object

## Analyse univariée

In [5]:
data.describe()

,LoanNr_ChkDgt,Zip,NAICS,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
count,8.991640e+05,899164.000000,899164.000000,899164.000000,899164.000000,899028.000000,899164.000000,899164.000000,899164.000000,899164.000000
mean,4.772612e+09,53804.391241,398660.950146,110.773078,11.411353,1.280404,8.430376,10.797257,2753.725933,0.757748
std,2.538175e+09,31184.159152,263318.312760,78.857305,74.108196,0.451750,236.688165,237.120600,12758.019136,0.646436
min,1.000014e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.589758e+09,27587.000000,235210.000000,60.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,4.361439e+09,55410.000000,445310.000000,84.000000,4.000000,1.000000,0.000000,1.000000,1.000000,1.000000
75%,6.904627e+09,83704.000000,561730.000000,120.000000,10.000000,2.000000,1.000000,4.000000,1.000000,1.000000
max,9.996003e+09,99999.000000,928120.000000,569.000000,9999.000000,2.000000,8800.000000,9500.000000,99999.000000,2.000000

In [6]:
data.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [7]:
doublons = data[data.duplicated(keep=False)]

print (doublons)

Empty DataFrame
Columns: [LoanNr_ChkDgt, Name, City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, RetainedJob, FranchiseCode, UrbanRural, RevLineCr, LowDoc, ChgOffDate, DisbursementDate, DisbursementGross, BalanceGross, MIS_Status, ChgOffPrinGr, GrAppv, SBA_Appv]
Index: []

In [8]:
#il y a 1997 valeurs manquantes pour la target, on supprime ces lignes

data.dropna(subset=['MIS_Status'], inplace=True)

In [9]:
data.MIS_Status.isnull().sum()

print(data['MIS_Status'].unique())

['P I F' 'CHGOFF']

In [10]:
import sweetviz as sv

# sweetviz a recommandé de changer 'approvalFY' en numerique (pourquoi i don't know)
data['ApprovalFY'] = pd.to_numeric(data['ApprovalFY'], errors='coerce')

#Sweetviz ne reconnait pas la variable cible comme étant binaire catégorielle: on mappe.
data['MIS_Status_Numeric'] = data['MIS_Status'].map({'P I F': 0, 'CHOFF': 1})

#les print sont des verifications 
print(data['MIS_Status_Numeric'].dtype)

print(data['MIS_Status_Numeric'].isnull().sum())

print(data['MIS_Status_Numeric'].unique())

data['MIS_Status_Numeric']

# on utilise maintenant MIS_Status_Numeric pour creer un rapport
sweet_report = sv.analyze(data, 'MIS_Status_Numeric')
sweet_report.show_html()

float64
157558
[ 0. nan]

                                             |          | [  0%]   00:00 -> (? left)

ValueError:
Target feature 'MIS_Status_Numeric' contains NaN (missing) values.
To avoid confusion in interpreting target distribution,
target features MUST NOT have any missing values at this time.

Le rapport sweetviz présente les corrélations entre la target et plusieurs variables:
    *

In [ ]:
#table de contingence pour 2 variables qualitative: target et NAICS

data_crosstab = pd.crosstab(data['NAICS'], 
							data['MIS_Status'], 
							margins = False) 
print(data_crosstab)

MIS_Status   P I F
NAICS
0           184868
111110          31
111120           3
111130           1
111140          90
...            ...
926130           3
926140           5
926150          10
928110           4
928120          27

[1301 rows x 1 columns]

In [ ]:
print(data['NAICS'].nunique())

1301
Nombre d'éléments uniques dans la colonne 'NAICS' : 1301

In [ ]:
import pandas as pd

# Supposons que votre DataFrame s'appelle data
# Assurez-vous que 'MIS_Status' contient uniquement les modalités 'Fully Paid' et 'Charged Off'

naics_totals_by_status = data.groupby(['MIS_Status', 'NAICS']).size().reset_index(name='Total')
print(naics_totals_by_status)

     MIS_Status   NAICS   Total
0         P I F       0  184868
1         P I F  111110      31
2         P I F  111120       3
3         P I F  111130       1
4         P I F  111140      90
...         ...     ...     ...
1296      P I F  926130       3
1297      P I F  926140       5
1298      P I F  926150      10
1299      P I F  928110       4
1300      P I F  928120      27

[1301 rows x 3 columns]